
body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Trebuchet MS,Arial,sans-serif;
	font-size: 13px;
	color: #ec8e0c;
	background-image: url("../img/main_background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-position: center;
}

html, body, #wrap {
  height: 98%;
}

body > #wrap {
  height: auto;
  min-height: 98%;
}

/*header*/

.header-menu {
	float: left; 
	color: #000000; 
/*	margin-top:4px; 
	margin-left:5px;*/
	width: 100%;
	text-align: center;
}

.footer {
  position: fixed;
  /*margin: 500px;*/
  /*height: 0px; */
  clear:both;
 }


.header-border img {
	width: 100%;
	height: 2px;
}
.footer-border img {
	width: 100%;
	height: 2px;
}
 
/*and header*/
/*body*/

#maintable{
    margin: 0 auto;
	position: center;
    vertical-align:top;
    width: 925;
}

.errorlist{
    color: white; 
	font-size: 12px;
	background: rgba(255, 0, 0, 0.5);
}

.tableindex {
    margin: 0 auto;
    vertical-align:top;
    width: 925;
}

.tableadd {
    /* margin: 0 auto; */
    /*vertical-align:top;*/
    width: 690;
}

.readonlyBtn {
	background: none repeat scroll 0 0 #e5e5e5 !important;
	color: gray !important;
	border:  #e5e5e5;
}

.validation_control {
	background-color: #FFFFD5;
	border: 2px solid red;
	margin: 0;
	font-family: Trebuchet MS,Arial,sans-serif;
	font-size: 11px;
}

.validation_message {
	color: red;
}

h1 {
	color: #000000;
	font-size: 13px; 
	background: rgba(255, 255, 255, 0.3);
	}
	
/*text alignment*/
#right { 
	text-align: right; 
}
