<html>
<head>

	{% load dict_by_key %}

	<!-- <link rel="stylesheet" type="text/css" media="screen" href="/content/css/ui-darkness/jquery-ui-1.9.2.custom.css" /> -->
	<link rel="stylesheet" type="text/css" media="screen" href="/content/css/ui-darkness/jquery-ui-1.9.2.custom.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/content/css/ui-darkness/my-jquery.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/content/css/main.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/content/css/select_height.css" />

    <link rel="shortcut icon" type="image/png" href="/content/img/favicon.png">
	
	<script src="/content/js/jquery-1.8.3.min.js"></script>
 	<script src="/content/js/jquery-ui-1.9.2.custom.min.js"></script>

	<script src="/content/js/json_parse.js"></script>
	<script src="/content/js/css_browser_selector.js"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-language" content="lt" />
	<title>{{ controls_translate|dict_getbykey:"SiteName"}}</title>
	<meta name="description" content='{{ controls_translate|dict_getbykey:"SiteDescription"}}'/>
	<meta name="keywords" content="keliones, keliones po Lietuva, Lietuvos skelbimai, keliones Lietuvoje, ieskau pakeleiviu, pakeleiviai, pakeliui, keliauti, vaziuoja, vaziuoju, pigios keliones, keleivis, keleiviai, pilna masina, pilna, masina, keleiviu pervezimas, keleiviu vezimas, veza, vezimas, vezti, paves, atstumas tarp lietuvos miestu, kelias, keliai, marsrutas, marsrutai, ieskau pakeleiviu, pakeleiviu filtras, kartu, surask, kompanija, kompanijos, autostopu, tranzavimas, tranzas, vaziavimas, pakeleiviu paieska, paieska, taksi, taxi, tarpmiestinis, tranzuoti, vairuotojai, keleiviai"/>

	<!-- Facebook Meta Tags -->
	<meta property="og:image" content="http://pilnamasina.lt/content/img/facebooklogo.png"/>

	{% block source %}
	{% endblock %}		
	
	{% block includes %}
	{% endblock %}	
	
</head>
<body>
	<script type="text/javascript">
		// implement JSON.stringify serialization
		var JSON;
		if (!JSON) {
			JSON = {};
		}
	
		function json_stringify_IE(){		
			
			JSON.stringify = JSON.stringify || function (obj) {
				var t = typeof (obj);
				if (t != "object" || obj === null) {
					// simple data type
					if (t == "string") obj = '"'+obj+'"';
					return String(obj);
				}
				else {
					// recurse array or object
					var n, v, json = [], arr = (obj && obj.constructor == Array);
					for (n in obj) {
						v = obj[n]; t = typeof(v);
						if (t == "string") v = '"'+v+'"';
						else if (t == "object" && v !== null) v = JSON.stringify(v);
						json.push((arr ? "" : '"' + n + '":') + String(v));
					}
					return (arr ? "[" : "{") + String(json) + (arr ? "]" : "}");
				}
			};
		}
	
		// IE not support stringify
		jQuery.extend({
			stringify  : function stringify(obj) {
				var t = typeof (obj);
				if (t != "object" || obj === null) {
					// simple data type
					if (t == "string") obj = '"' + obj + '"';
					return String(obj);
				} else {
					// recurse array or object
					var n, v, json = [], arr = (obj && obj.constructor == Array);

					for (n in obj) {
						v = obj[n];
						t = typeof(v);
						
						if (obj.hasOwnProperty(n)) {
							if (t == "string") 
								v = '"' + v + '"'; 
							else if (t == "object" && v !== null) 
								v = jQuery.stringify(v);
								
							json.push((arr ? "" : '"' + n + '":') + String(v));
						}
					}
					return (arr ? "[" : "{") + String(json) + (arr ? "]" : "}");
				}
			}
		});
	
		// common functions
		function str_to_list(var_str){
			var res = new Array();
			arr = var_str.split(",");

			for (var i = 0; i < arr.length; i++) {
				res.push(arr[i]);
			}
			
			return res;
		}
		
		// IE don't has indexof method
		if(!Array.prototype.indexOf) {
			Array.prototype.indexOf = function(needle) {
				for(var i = 0; i < this.length; i++) {
					if(this[i] === needle) {
						return i;
					}
				}
				return -1;
			};
		}

		//TODO must be outside *.js file
		function localize_datetime(){
			$.timepicker.regional['ru'] = {
				timeOnlyTitle: '{{ time_translate|dict_getbykey:"timeOnlyTitle"}}',
				timeText: '{{ time_translate|dict_getbykey:"timeText"}}',
				hourText: '{{ time_translate|dict_getbykey:"hourText"}}',
				minuteText: '{{ time_translate|dict_getbykey:"minuteText"}}',
				secondText: '{{ time_translate|dict_getbykey:"secondText"}}',
				millisecText: '{{ time_translate|dict_getbykey:"millisecText"}}',
				timezoneText: '{{ time_translate|dict_getbykey:"timezoneText"}}',
				currentText: '{{ time_translate|dict_getbykey:"currentText"}}',
				closeText: '{{ time_translate|dict_getbykey:"closeText"}}',
				timeFormat: '{{ time_translate|dict_getbykey:"timeFormat"}}',
				amNames: str_to_list('{{ time_translate|dict_getbykey:"amNames"}}'),
				pmNames: str_to_list('{{ time_translate|dict_getbykey:"pmNames"}}'),
				isRTL: false
			};
			$.timepicker.setDefaults($.timepicker.regional['ru']);			
			$.datepicker.regional['ru'] = {
				closeText: '{{ date_translate|dict_getbykey:"closeText"}}',
				prevText: '{{ date_translate|dict_getbykey:"prevText"}}',
				nextText: '{{ date_translate|dict_getbykey:"nextText"}}',
				currentText: '{{ date_translate|dict_getbykey:"currentText"}}',
				monthNames:str_to_list('{{ date_translate|dict_getbykey:"monthNames"}}'),
				monthNamesShort: str_to_list('{{ date_translate|dict_getbykey:"monthNamesShort"}}'),
				dayNames: str_to_list('{{ date_translate|dict_getbykey:"dayNames"}}'),
				dayNamesShort: str_to_list('{{ date_translate|dict_getbykey:"dayNamesShort"}}'),
				dayNamesMin: str_to_list('{{ date_translate|dict_getbykey:"dayNamesMin"}}'),
				weekHeader: '{{ date_translate|dict_getbykey:"weekHeader"}}',
				dateFormat: '{{ date_translate|dict_getbykey:"dateFormat"}}',
				firstDay: 1,
				isRTL: false,
				showMonthAfterYear: false,
				yearSuffix: ''
			};
			$.datepicker.setDefaults($.datepicker.regional['ru']);		
		}
		

		// GOOGLE
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39178692-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>	
	
	{% block script %}
	{% endblock %}		
	<table cellpadding="" cellspacing="" align="right">  
        <tr>
            <td>		
				<!-- Facebook -->
	            <a href="https://www.facebook.com/pages/Pilnamasinalt/505326639525508?ref=ts&fref=ts"><img class="header" src="/content/img/fb_logo.png"/ border="0"></a>
	        </td>
        <tr>			
	</table>
	<div id="wrap">	
		<div>
			<table width="925" border="0" align="center" cellpadding="25" cellspacing="0">
				<tr>
					<td>
						<a href="http://www.pilnamasina.lt" ><img class="header" align="left" src="/content/img/Pm_logo.png"/ border="0"></a>
					</td>
				</tr> 
			</table>
		</div>
		<div class="body" >
			<table align="center" id='maintable' cellspacing="5" border="0" cellpadding="0"  >
				<tbody>
					<tr>
						<td id='content' class="content" border="1" colspan="5" >
							{% block content %}
							{% endblock %}					
						</td>
					</tr>
					<tr>
					    <td>
						
						</td>
					</tr>
					<tr>
					    <td width="34">
				        </td>
					    <td>
					        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FPilnamasinalt%2F505326639525508%3Fref%3Dnotif%26notif_t%3Dfbpage_admin&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
					    </td>
					</tr>
				</tbody>
			</table>	
		</div>
	</div>
	
	



	<!-- footer -->
	
	<div class="footer" style="width:98%; text-align:right;">
		{% block footer %}		
				<a href="mailto:labas@pilnamasina.lt?Subject=PM vartotojas(-a)">
				<img src="../content/img/email_pm.png" border="0">
			</a>
		{% endblock %}
	</div>
</body>
</html>